# following dir should be ignored.
/auto-save-list
/bookmarks
/elpa
/eshell
/pyim
/quelpa
/transient
.cache
.emacs.desktop
.lsp-session-v1
anaconda-mode
eww-bookmarks
lsp-ltex
request
rime
/eshell/history
/eshell/lastdir
other-files/lsp-bridge
diary
recentf
tramp
transient/history


*\#
*.db
*.eld
/recentf
*~

/imdict/pyim-bigdict.pyim
/datas/
/eaf/
/network-security.data
/other-files/emacs-application-framework/
/server/
/url/
recentf
tramp
.aider*
.env

projects
straight
*~
recentf
custom.el
bookmarks
other-files