# following dir should be ignored.
/auto-save-list
/bookmarks
/elpa
/eshell
/pyim
/quelpa
/transient

*\#
*.db
*.eld
/recentf
*~

/imdict/pyim-bigdict.pyim
/datas/
/eaf/
/network-security.data
/other-files/emacs-application-framework/
/server/
/url/
recentf
tramp
