[submodule "other-files/easy-collections"]
	path = other-files/easy-collections
	url = https://github.com/liangzid/easy-collections.git
[submodule "other-files/netease-cloud-music.el"]
	path = other-files/netease-cloud-music.el
	url = https://github.com/SpringHan/netease-cloud-music.el.git
[submodule "other-files/org-static-blog"]
	path = other-files/org-static-blog
	url = https://github.com/bastibe/org-static-blog.git
[submodule "other-files/ox-rss"]
	path = other-files/ox-rss
	url = https://github.com/emacsmirror/ox-rss.git
